---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
	href={href}
	class:list={[
		"inline-block",
		isActive
			? "underline hover:font-bold focus:font-bold"
			: "no-underline hover:underline focus:underline focus:outline-none",
	]}
	{...props}
>
	<slot />
</a>
