---
import { SITE_TITLE } from "../consts";

interface Props {
  title: string;
  noTitleHeading?: boolean;
  noIndexButton?: boolean;
  breadcrumbs?: {
    text: string;
    href: string;
  }[];
}

const {
  title,
  noTitleHeading = false,
  noIndexButton = false,
  breadcrumbs = [],
} = Astro.props;

const actualBreadcrumbs = [
  {
    text: SITE_TITLE,
    href: "/",
  },
  ...breadcrumbs,
];
---

<header class="max-w-4xl mx-auto w-full">
  {
    !noIndexButton && (
      <div class="flex gap-2 mb-1 text-lg text-neutral-400">
        {actualBreadcrumbs.map(({ text, href }) => (
          <>
            <a href={href} class="hover:underline focus-visible:underline">
              {text}
            </a>
            <span>/</span>
          </>
        ))}
      </div>
    )
  }
  {!noTitleHeading && <h1 class="text-5xl font-extrabold">{title}</h1>}
</header>
