---
import type { HTMLAttributes, HTMLTag } from "astro/types";

interface Props extends HTMLAttributes<HTMLTag> {
  level: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  class?: string;
}

const { level, class: clazz, ...props } = Astro.props;
---

{
  level == "h2" && (
    <h2 class:list={[clazz, "text-4xl font-bold mb-4"]} {...props}>
      <slot />
    </h2>
  )
}
